@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  font-family: "Oxygen", "Lato", sans-serif;
  color: #696969;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f4;
  font-size: 16px;
}

main {
  padding: 0;
  max-width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  .col-1 {
    flex-basis: 8.33%;
  }
  .col-2 {
    flex-basis: 16.67%;
  }
  .col-3 {
    flex-basis: 25.00%;
  }
  .col-4 {
    flex-basis: 33.33%;
  }
  .col-5 {
    flex-basis: 41.67%;
  }
  .col-6 {
    flex-basis: 50.00%;
  }
  .col-7 {
    flex-basis: 58.33%;
  }
  .col-8 {
    flex-basis: 66.67%;
  }
  .col-9 {
    flex-basis: 75.00%;
  }
  .col-10 {
    flex-basis: 83.33%;
  }
  .col-11 {
    flex-basis: 91.67%;
  }
  .col-12 {
    flex-basis: 100%;
  }
}

p {
  line-height: 1.45em;
  padding: 0 10px;
  margin: 0;
  color: inherit;
}

a {
  text-decoration: none;
  color: #696969;
}

h2 {
  font-weight: 700;
  color: #00539CFF;
  padding: 0 10px;
}

h4 {
  color: inherit;
  padding: 0;
  margin: 0;
}

hr {
  width: 90%;
  opacity: .5;
  border-top: none;
}

.in-text-link {
  color: #00539CFF;
}

.in-text-link:visited {
  color: #422057FF;
}

.primary-color {
  color: #00539CFF;
}

.headline-section {
  color: #00539CFF;
  margin-left: 10px;
}

.bold-emphasis {
  display: block;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-primary-color {
  color: #00539CFF;
}

.text-secondary-color {
  color: #FFD662FF;
}

.background-primary-color {
  background-color: #00539CFF;
}

.background-secondary-color {
  background-color: #FFD662FF;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  text-align: center;
  font-weight: bolder;
  color: #00539CFF;
  border: none;
  padding: .5rem;
  margin: .5rem;
  text-transform: uppercase;
  min-width: 120px;
  max-width: 50%;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  transition-duration: .2s;
}

.primary {
  border: 1px solid #00539CFF;
  background-color: #FFD662FF;
}

.primary:hover {
  background-color: #ffde81;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.default {
  color: #f2f3f4;
  background-color: #4169e1;
}

.default:hover {
  background-color: #839deb;
}

.error {
  color: #f2f3f4;
  background-color: #e83535;
}

.error:hover {
  background-color: #f07a7a;
}

.info {
  color: #f2f3f4;
  background-color: #927bc1;
}

.info:hover {
  background-color: #bdafd9;
}

.success {
  color: #f2f3f4;
  background-color: #228b22;
}

.success:hover {
  background-color: #31c831;
}

.warning {
  background-color: #fd7856;
}

.warning:hover {
  background-color: #feb4a2;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #FFD662FF;
  border: solid 1px #00539CFF;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  border: solid 1px #696969;
  border-radius: .5rem;
  margin: .5rem auto;
  padding: .75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

textarea {
  height: 100px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
  }
}

.animation-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Fallback color */
  background-color: black;
  /* backgound color with opacity */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal__content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 95vw;
  max-width: 700px;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal__close {
  font-size: 2rem;
  padding-right: .5rem;
  cursor: pointer;
  color: #e83535;
  transition: color 0.2s ease;
}

.modal__close:hover {
  color: #f07a7a;
}

/* Slide down animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.dropdown {
  position: relative;
  margin: auto 0;
  z-index: 1;
}

.dropdown__btn {
  background: none;
  border: none;
  color: #696969;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.dropdown.active > .dropdown__btn,
.dropdown__btn:hover {
  color: black;
}

.dropdown__menu {
  position: absolute;
  right: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown__grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.dropdown__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.link-container {
  display: none;
  align-items: center;
}

.nav {
  padding-left: 0;
  display: none;
}

.nav-page {
  text-align: center;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  transition: color .2s ease-in-out;
  font-size: 1.25rem;
}

.nav-page:hover {
  color: #000;
}

@media (min-width: 768px) {
  .dropdown {
    display: none;
  }
  .link-container {
    display: flex;
    flex-basis: 80%;
    justify-content: space-evenly;
  }
}

.about__text {
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem;
}

.about__text--center {
  font-size: 1.25rem;
  max-width: 800px;
  margin-bottom: 2rem;
}

#more-info {
  display: none;
}

footer {
  background-color: #00539CFF;
  min-height: 270px;
  box-shadow: inset 0 0 10px 10px rgba(0, 10, 10, 0.4);
  padding: 50px;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.message-container {
  background-color: green;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 100%;
  max-width: 440px;
}

svg {
  height: 2.5rem;
  cursor: pointer;
  fill: #FFD662FF;
}

svg:hover path {
  fill: white;
}

.intro {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: #FFD662FF;
  border: solid 1px #00539CFF;
  border-radius: 5px 50px 5px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  z-index: -1;
}

.intro__title {
  grid-area: title;
  font-weight: 300;
}

.intro__subtitle {
  grid-area: subtitle;
  background-color: #00539CFF;
  color: #FFD662FF;
  font-size: 24px;
  margin: -10px 0 5px 0;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  grid-column: 1/3;
}

.intro__img {
  grid-area: img;
  border-radius: 5px 5px 5px 30px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  z-index: 2;
}

@media (min-width: 768px) {
  .intro {
    display: grid;
    width: min-content;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__subtitle {
    text-align: right;
    align-self: start;
    position: absolute;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
  .intro__img {
    border-radius: 5px;
  }
}

.project {
  position: relative;
}

.project:hover .project__overlay {
  height: 100%;
  justify-content: space-around;
}

.project:hover .project__link {
  display: block;
}

.project__img {
  max-width: 100%;
}

.project__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  height: 33%;
  transform: translateY(-100%);
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.project__title {
  margin-top: .25rem;
  color: #f2f3f4;
  font-size: 1.5rem;
}

.project__text {
  margin-top: .5rem;
  color: #f2f3f4;
  text-align: center;
  max-width: 500px;
}

.project__link {
  display: none;
}
/*# sourceMappingURL=styles.css.map */