// =============================================
//                   Variables                  
// ============================================= 

// Main colors
$color-primary : #00539CFF;
$color-secondary: #FFD662FF;
$color-tertiary: #d3f1f5;
$color-text: #696969;
$color-link-visited: #422057FF;
$color-boneWhite: #f2f3f4;

// Button background colors
$color-button-default: #4169e1;
$color-button-error: #e4757a;
$color-button-info: #927bc1;
$color-button-success: #228b22;
$color-button-warning: #fd7856;

// Font style
$font-stack-primary: 'Oxygen', 'Lato', sans-serif;

// Breakpoints
$break-m: 660px;
$break-l: 1024px;
