#about {
    background-color: $color-secondary;
    border: solid 1px $color-primary;
    border-radius: 50px 5px 50px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;

    @include tablet {
        margin-top: 75px;
    }

    @include desktop {
        margin-top: 125px;
    }
}

.about__text {
    text-align: justify;
    padding: 1rem;
}

.about__text--center {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto 2rem;
}

// make more info hidden by default
#more-info {
    display: none;
}
