// =============================================
//              Containers
// =============================================

// header container
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}

// intro container
.intro {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: $color-secondary;
  border: solid 1px $color-primary;
  border-radius: 5px 50px 5px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  z-index: -1;
}

.title {
  grid-area: title;
  font-weight: 300;
}

.subtitle {
  grid-area: subtitle;
  background-color: $color-primary;
  color: $color-secondary;
  font-size: 24px;
  margin: -10px 0 5px 0;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  grid-column: 1/3;
}

// about container

.hide {
  // visibility: hidden; 
  // transform: translateY(-100%);
  // transition: transform .4s linear;
  // max-height: 0;

  display: none;
}

.show {
  // visibility: visible;
  // transform: translateY(0);
  // max-height: 300px;

  display: flex;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

// .active, .collapsible:hover {
//   background-color: #555;
// }

// project containers
.project {
  max-width: 380px;
  margin: 5px auto;
  position: relative;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0 auto;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  border: 3px solid $color-secondary;
  border-radius: 5%;
  background: $color-primary;
  color: $color-secondary;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-out;
  &:hover {
    opacity: 1;
  }
}

// footer container
.footer {
  background-color: $color-primary;
  position: relative;
  min-height: 250px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 10px 10px rgba(0, 10, 10, 0.4);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  padding-bottom: 15px;
  background: $color-secondary;
  border-radius: 10px;
  width: 90%;
  max-width: 760px;
  transform: translateY(-25%);
  position: absolute;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.icon-container {
  margin: 50px 20px 20px 20px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin: 0 20px;
  transition: fill 0.25s ease-out;
  cursor: pointer;
  &:hover .outer-shape {
    fill: #fff;
  }
  &:hover .inner-shape {
    fill: #000;
  }
}

// contact page container

.header-contact {
  display: flex;
  justify-content: end;
  margin-bottom: -15px;
}

.contact-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-tertiary;
  border: solid 5px #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.icon-container-contact {
  margin: 40px 20px;
  display: flex;
  justify-content: space-evenly;
}

// add on styles

.test {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-reduce-20 {
  margin-top: -20px;
}

.mt-reduce-30 {
  margin-top: -30px;
}

.mw-800 {
  max-width: 800px;
}
