footer {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px 10px rgba(0, 10, 10, 0.4);
    padding: 0 50px 50px 50px;

    @include desktop {
        min-height: 300px;
        justify-content: center;
    }
}

.footer-content {
    @include desktop {
        display: flex;
        justify-content: center;
    }
}

.contact {
    margin-top: 1.25rem;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-container a {
    font-size: 1.25rem;
    color: $color-boneWhite;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto 1.5rem;
    width: 100%;
    max-width: 440px;

    @include desktop {
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        max-width: 400px;
        padding-left: 50px;
    }
}

.social-container a {
    @include desktop {
        max-height: 2.5rem;
    }
}

.message-container {
    @include desktop {
        flex-direction: row;
    }
}

.message-container button {
    @include desktop {
        max-width: 100%;
    }
}

.email-container p {
    @include desktop {
        padding: 0;
    }
}

svg {
    height: 2.5rem;
    cursor: pointer;
    fill: #FFD662FF;
}

svg:hover path {
    fill: $color-boneWhite;
}

.svg-icon {
    height: 2.5rem;
    cursor: pointer;
    fill: #FFD662FF;
}

.svg-icon:hover {
    fill: $color-boneWhite;
}
