// ============================================= 
//              header                     
// ============================================= 

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

// ============================================= 
//        dropdown menu for mobiles                     
// ============================================= 

.dropdown {
    position: relative;
    margin: auto 0;
    z-index: 1;
}

.dropdown__btn {
    background: none;
    border: none;
    color: $color-text;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

.dropdown.active>.dropdown__btn,
.dropdown__btn:hover {
    color: black;
}

.dropdown__menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active>.dropdown__btn+.dropdown__menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown__grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

// ============================================= 
//       display on wider screens                  
// ============================================= 

.link-container {
    display: none;
    align-items: center;
}

.nav {
    padding-left: 0;
    display: none;

    &-page {
        text-align: center;
        padding: 10px 20px;
        display: block;
        width: fit-content;
        transition:
            color .2s ease-in-out;
        font-size: 1.25rem;

        &:hover {
            color: #000;
        }
    }
}

// ============================================= 
//       media queries                 
// ============================================= 

@media (min-width: $break-m) {

    .dropdown {
        display: none;
    }
    
    .link-container {
        display: flex;
        flex-basis: 80%;
        justify-content: space-evenly;
    }

}
