// =============================================
//            project containers
// =============================================

.project {
    position: relative;
    &:hover .project__overlay {
        height: 100%;
        justify-content: space-around;
    }
    &:hover .project__link {
        display: block;
    }
}

.project__img {
    max-width: 100%;
}

.project__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.75);
    height: 33%;
    transform: translateY(-100%);
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.project__title {
    margin-top: .25rem;
    color: $color-boneWhite;
    font-size: 1.5rem;
}

.project__text {
    margin-top: .5rem;
    color: $color-boneWhite;
    text-align: center;
    max-width: 500px;
}

.project__link {
    display: none;
}

// scrolling animation styles

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}