// =============================================
//            project containers
// =============================================

.project {
    position: relative;
    max-width: 500px;
    margin: auto;

    &:hover .project__overlay {
        height: 100%;
        justify-content: space-around;
    }

    &:hover .project__link {
        display: block;
    }

    @include desktop {
        max-width: 100%;
    }
}

.project__img {
    max-width: 100%;
    max-height: 310px;
}

.project__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .75);
    height: 33%;
    transform: translateY(-100%);
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.project__title {
    margin-top: .25rem;
    color: $color-boneWhite;
    
    @include desktop {
        font-size: 1.5rem;
    }
}

.project__text {
    margin-top: .5rem;
    color: $color-boneWhite;
    text-align: center;
    max-width: 500px;
}

.project__link {
    display: none;
    background-color: $color-secondary;
    color: $color-primary;
    font-weight: bolder;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;

    &:hover {
            background-color: #ffde81;
        }
}

.project__icon-container {
    font-size: 2rem;
    margin: .25rem;
}

.project__description {
    margin: 1rem auto 0;
    padding: .5rem auto 0;
    text-align: justify;
    max-width: 500px;

    @include tablet {
        font-size: 1.25rem;
    }

    @include desktop {
        font-size: 1.5rem;
        max-width: 100%;
    }
}

// scrolling animation styles

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}