// =============================================
//            project containers
// =============================================

.project {
    position: relative;
    &:hover .project__overlay {
        transform: translateY(-100%);
        height: 100%;
    }
}

.project__img {
    max-width: 100%;
    max-height: 500px;
    
}

.project__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: $color-boneWhite;
    background: rgba(0,0,0,.5);
    height: 0;
    transform: translateY(-200%);
    overflow: clip;
    transition: all 0.3s ease-out;
}

.project__text {
    margin: 0 5px 10px 5px;
   
}

// @media (min-width: $break-m) {

  
// }

// @media (min-width: $break-l) {

   
// }