// =============================================
//              Images
// =============================================

.img-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 500px;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5%;
}

// =============================================
//              Svgs
// =============================================

.svg-large {
  max-width: 50px;
  margin: 1rem;
  .outer-shape {
    fill: #000;
    transition: $transition-svg;
  }
  .inner-shape {
    fill: $color-secondary;
  }
  &:hover .outer-shape {
    fill: $color-primary;
  }
}

.svg-small {
  max-width: 30px;
  margin: 0 1rem;
  .outer-shape {
    fill: $color-text;
    transition: $transition-svg;
  }
  .inner-shape {
    fill: white;
  }
  &:hover .outer-shape {
    fill: #000;
  }
}
