// ============================================= 
//              base elements                      
// ============================================= 

p {
  line-height: 1.45em;
  padding: 0 10px;
  margin: 0;
  color: inherit;
}

a {
  text-decoration: none;
  color: $color-text;
}

h2 {
  font-weight: 700;
  color: $color-primary;
  padding: 0 10px;
}

h4 {
  color: inherit;
  padding: 0;
  margin: 0;
}

hr {
  width: 90%;
  opacity: .5;
  border-top: none;
}

// ============================================= 
//              classes                      
// ============================================= 

.in-text-link {
  color: $color-primary;

  &:visited {
    color: $color-link-visited;
  }
}

// ============================================= 
//              add on classes                      
// ============================================= 

.primary-color {
  color: $color-primary;
}

.headline-section {
  color: $color-primary;
  margin-left: 10px;
}

.bold-emphasis {
  display: block;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-primary-color {
  color: $color-primary;
}

.text-secondary-color {
  color: $color-secondary;
}

.background-primary-color {
  background-color: $color-primary;
}

.background-secondary-color {
  background-color: $color-secondary;
}