
p {
  line-height: 1.45em;
  padding: 0 10px;
  margin: 0;
  color: inherit;
}

a {
  text-decoration: none;
  color: $color-text;
}

h4 {
  color: inherit;
  padding: 0;
  margin: 0;
}

hr {
  width: 90%;
  opacity: .5;
  border-top: none;
}

// ============================================= 
//              Typography                       
// ============================================= 

.headline-primary {
  color: $color-primary; 
}

.headline-secondary {
  font-weight: 700;
  color: $color-primary;
  padding: 0 10px;
}

.headline-section {
  color: $color-primary;
  margin-left: 10px;
}

.name-title {
  display: block;
  font-weight: 700;
}

.project-text {
  margin: 0 5px 10px 5px;
}

// add on styles

.text-center {
  text-align: center;
}

.text-primary-color {
  color: $color-primary;
}

.text-secondary-color {
  color: $color-secondary;
}

.background-primary-color {
  background-color: $color-primary;
}

.background-secondary-color {
  background-color: $color-secondary;
}